*{
	font-family: 'Roboto', sans-serif;
	position: relative;
}

#navbar{
	border-radius: 0;
	margin-bottom: 0px;
	background-color: #262626;
	border-bottom: 0;}

#particles-js{
	height: 50.5em;
	background: #262626;
}

#typed{
	position: absolute;
	top: 9em;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 40px;
//	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50);
}